<div class="body">
    <div class="aboutus-page">
        <div class="top-header">
            <app-admin-header></app-admin-header>
        </div>
        <div class="page-listing-title"><img src="./assets/images/dashboard-list.jpg"><h2>Mail Configuration</h2></div>

    <div class="container">
        <div class="filter">
            <form [formGroup]="filterform">
                <div class="filter-div col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>EventType</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input formControlName="filter">
                </mat-form-field>
            </div>
            <div class="filter-div col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput (keyup)="applySubject($event)" placeholder="" #input formControlName="subject">
                </mat-form-field>
            </div>
            <div class="filter-div col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Template</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input formControlName="template">
                </mat-form-field>
            </div>
            <!-- <div class="filter-div col-md-3">
                <button mat-button class="filter-btn">Filter</button>
            </div> -->
            </form>

        </div>

        <div class="table-div">

            <div class="top-table-title table-responsive data-table-section mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="eventType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> EventType </th>
                        <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
                    </ng-container>


                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
                        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CC </th>
                        <td mat-cell *matCellDef="let element"> {{element.cc}} </td>
                    </ng-container>

                    <ng-container matColumnDef="template">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template </th>
                        <td mat-cell *matCellDef="let element"> {{element.template}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
            </div>
        </div>
    </div>
    </div>


    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
