<div class="mat-dialog-content">
   
    <div class="admin-login-page">
        
        <div class="col-md-12">
            <div class="admin-logo">
                <img class="login-popup-logo" src="../../../../assets/images/logo.png" width="100px">
            </div>
            <h5 class="welcome-text" style="margin-top: 15px">Change Password</h5>
            <div class="login-form filter">

                <form [formGroup]="passwordForm">

                    <div class="form-field">
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Old Password</mat-label>
                                <input matInput formControlName="oldpassword" placeholder="" type="password">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="Input" required type="password" maxlength="10"
                                    formControlName="newPassword">

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput formControlName="conPassword" placeholder="" maxlength="10"
                                    type="password">
                            </mat-form-field>
                        </div>


                        <div class="col-md-12 pull-right search-cab-btn">

                            <a mat-raised-button (click)="Submit(passwordform)" class="search-btn btn-primary">Submit</a>
                        </div>


                    </div>



                </form>
            </div>
        </div>
    </div>
</div>



