<div class="header">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo">
          <a class="navbar-brand" href="#home"><img src="../../../../assets/images/logo.png"></a>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="contact-no pull-right">
          <mat-icon class="call-icon"> call</mat-icon>
          <span class="con-no">
            <p class="con-text"> For Booking </p>
            <p class="call-no">+91-97397777267</p>
          </span>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home" routerLinkActive="active" (click)="refresh()">Home</a></li>
          <li><a routerLink="/aboutUs" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/packages" routerLinkActive="active">Packages</a></li>
          <li><a routerLink="/tariff" routerLinkActive="active">Tariff</a></li>
          <li><a routerLink="/contactUs" routerLinkActive="active">Contact Us</a></li>
          <li> <a (click)="openDialog()">Admin</a></li> 

        </ul>
        


      </div>


    </div>
  </nav>
</div>