<div class="body">
    <div class="packaage-page">
        <div class="top-header">
            <app-header></app-header>
        </div>

        <div class="packagedetail">
            <div class="container">
                <h4>Iteration:</h4>
                <h4>Tour No - 1 -  3 Days / 2 Night
                    Mysore And Wayanad Place. </h4>
                    <h4> 1 Night Mysore / 1 Night Wayanad  ( Arrival & Dropping - Mysore )</h4>

                    <button mat-button (click)="detailCLick($event)" class="package-btn-centre">DAY</button>
                    <div class="bottom-list" >
                        <div class="login-tabs">
                            <mat-tab-group>
                                <mat-tab label="Day1">
                                    <ul class="inclu-list">
                                        <li>
                                            <h4>Morning</h4>
                                            <p> Arrive Mysore , Meet assist at the Airport, Railway station Or Hotel </p>
                                        </li>
                                        <br>
                                        <li>
                                            <h4>Visit Place</h4>
                                            <p>proceed visit 1000 years old Chamundeshwari Temple ( Chamundi Hill ), Nandi Bull Temple, Mysore City View Point, Mysore Zoo, Mysore Palace, St. Philomina Church ( 5th largest and popular Church in India ), Sri Ranganathaswamy Temple Srirangapatna, Tippu Gumbaz, Tippu Summer Palace (1000 years old) Later Proceed to Brindavan Garden (KRS - 1927 and completed in 1932 ) </p>
                                        </li>
                                        <br>
    
                                        <li>
                                            <h4>Night</h4>
                                            <p>Night stay in Mysore</p>
                                        </li>
                                    </ul>
                                    
                                </mat-tab>
                                <mat-tab label="Day2"> 
                                    <ul class="inclu-list">
                                        <li>  
                                            <h4>Morning</h4>
                                            <p>Morning breakfast Checkout Hotel proceed Edakkal Caves Wayanad</p>
                                        </li>
                                        <br>
                                        <li>
                                        <h4>Visit Place</h4>
                                        <p>  Edakkal Caves Wayanad , Soochipara</p>
                                        </li>
                                        <br>
                                        <li>
                                            <h4><b>Night</b></h4>
                                            <p>Night stay in Wayanad</p>
                                        </li>
                                    </ul>    
                                </mat-tab>
                                
                                <mat-tab label="Day3"> 
                                    <ul class="inclu-list">
                                        <li>  
                                            <h4>Morning</h4>
                                            <p> Morning breakfast Checkout Hotel proceed to  Banasurasagar Dam</p>
                                        </li>
                                        <br>
                                        <li>
                                        <h4>Visit Place</h4>
                                        <p>    Makkiyad Meenmutty Water Falls, Back Water kalpetta & go for some shopping before connecting Mysore train /Bus for onward journey.</p>
                                        </li>
                                       
                                    </ul>    
                                </mat-tab>
    
                               
                               
                            </mat-tab-group>
                        </div>
                    </div>
               
                   
                     

                <div class="table-searching-field">

                    <div class="table-div">


                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="car">
                                <th mat-header-cell *matHeaderCellDef> Types Of Car </th>
                                <td mat-cell *matCellDef="let element"> {{element.car}} </td>
                            </ng-container>

                            <ng-container matColumnDef="non">
                                <th mat-header-cell *matHeaderCellDef> Non A/C </th>
                                <td mat-cell *matCellDef="let element"> {{element.non}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ac">
                                <th mat-header-cell *matHeaderCellDef> A/C </th>
                                <td mat-cell *matCellDef="let element"> {{element.ac}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>

                    <div class="Including-amt">
                        <ul>
                          <li>
                       <h4>Including</h4>  Driver Bata, Vehicle Charges, Sightseeing Charges, Fuel Charges.
                     </li>
             <li>
                       <h4>Excluding </h4>All Type food, Personal Nature like tips, Telephone, Sightseeing Places Entry Fees, Parking Charges, Toll Charges..
                     </li>
                     <li>
                        <h4> Options</h4>
                            Hotel booking- cab driver will take you to the tie-up hotel, Additional charges for hotel  
                    </li>
                     </ul>
                      </div>
                </div>

                <div class="days-bottom-img">

                <div class="col-md-4">
                    <img src="../../../../assets/images/daythree1.jpg">
                   </div>
                   <div class="col-md-4">
                    <img src="../../../../assets/images/daythree2.png">
                   </div>
                   <div class="col-md-4">
                    <img src="../../../../assets/images/daythree3.jpg">
                   </div>
                </div>
                <div class="footer" style="margin-top: 60px;">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
        
     </div>
</div>
