<div class="container">
    <div class="col-md-4">
            <h4 style="width: max-content;"> Car Rental in Cities</h4>
            <ul>
                    <li><a href="#">Mysore</a></li>
                    <li><a href="#">Bangalore</a></li>
            </ul>
            <h3 style="width: max-content;">Rent A Car Call:+91 8867755706</h3>
            <ul>
                    <li><a href="#">Mysore</a></li>
                    <li><a href="#">Bangalore</a></li>
            </ul>
    </div>
    <div class="col-md-4">
            <h4 style="width: max-content;">Useful Links</h4>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/aboutUs" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/packages" routerLinkActive="active">Packages</a></li>
                <li><a routerLink="/tariff" routerLinkActive="active">Tariff</a></li>
                <li><a routerLink="/contactUs" routerLinkActive="active">Contact Us</a></li>
            </ul>
    </div>
    <div class="col-md-4">
            <h4 style="width: max-content;">Useful Links</h4>
            <b style="margin-top: 0px;">Address</b>
            <p>Car Rental Mysore</p>
            <p>86,Haleem nagar,Bannimantap,Mysore</p>
            <b>Phone</b>
            <p>+91-9739777267</p>
            <b>E-mail</b>
            <p>info@carrentalmysore.com</p>                   
    </div>
</div>
<div class="footer-second-border"> </div>
<p class="align-center">2022@Car Rental Mysore All Right Reserved</p>
