<div class="body">
    <div class="tariff-page">
        <div class="top-header">
            <app-header></app-header>
        </div>
        <div class="tariff-section">
            <div class="container">
                <h3>Best Outstation Tariff</h3>
                <div class="tariff-list-div">
                    <ul>
                        <li class="col-md-4">
                            <div class="tariff-list-li">
                                <div class="tariff-img">
                                    <img src="../../../../assets/images/multi-slider-img1.png">
                                </div>
                                <div class="tariff-content">
                                    <h4>TATA INDICA</h4>
                                    <p>ONE WAY: 12 Rs / km</p>
                                    <p>ROUND TRIP: 9.80 Rs / Km</p>
                                    <p>Available Cars: -</p>
                                    <p>Luggage: 2</p>
                                    <p>Max Passenger: 4+1</p>
                                 </div>
                            </div>

                        </li>
                        <li class="col-md-4">
                            <div class="tariff-list-li">
                                <div class="tariff-img">
                                    <img src="../../../../assets/images/multi-slider-img2.png">
                                </div>
                                <div class="tariff-content">
                                    <h4>TOYOTA INNOVA</h4>
                                    <p> ONE WAY: 14 Rs / km</p>
                                    <p>ROUND TRIP: 18 Rs / Km</p>
                                    <p>Available Cars: -</p>
                                    <p>Luggage: 2</p>
                                    <p>Max Passenger: 7+1</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="tariff-list-li">
                                <div class="tariff-img">
                                    <img src="../../../../assets/images/multi-slider-img3.png">
                                </div>
                                <div class="tariff-content">
                                    <h4>TOYOTA ETIOS</h4>
                                    <p> ONE WAY: 13 Rs/ km</p>
                                    <p>ROUND TRIP: 11 Rs / Km</p>
                                    <p>Available Cars: -</p>
                                    <p>Luggage: 2</p>
                                    <p>Max Passenger: 4+1</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="tariff-list-li">
                                <div class="tariff-img">
                                    <img src="../../../../assets/images/multi-slider-img4.png">
                                </div>
                                <div class="tariff-content">
                                    <h4>MAHINDRA XUV</h4>
                                    <p>ONE WAY: 12 Rs / km</p>
                                    <p>ROUND TRIP: 9.80 Rs / Km</p>
                                    <p>Available Cars: -</p>
                                    <p>Luggage: 2</p>
                                    <p>Max Passenger: 4+1</p>
                                 </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>