<div class="body">
    <div class="contactUs-page">
            <div class="top-header">
                    <app-header></app-header>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="col-md-6" style="margin-top: 70px;">
                        <h3>Booking Enquiries</h3>
                        <p>Car Rental Mysore customer support is available 24/7. A dedicated 24/7
                            customer support team always at your service to help solve any problem.</p>
                        <p><mat-icon> call</mat-icon> 9739777267</p>    
                        <p><mat-icon> mail</mat-icon> info@carrentalmysore.com</p>   
                    </div>
                    <div class="col-md-6">
                        <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3897.659458132149!2d76.6499477!3d12.3386927!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1645023701739!5m2!1sen!2sin" width="522" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    </div>
                </div>

            </div>
            
        <div class="footer">
            <app-footer></app-footer>
    </div>
            </div>
            </div>
