<div class="body">
    <div class="aboutus-page">
            <div class="top-header">
                    <app-header></app-header>
            </div>
            <div class="aboutus" id="aboutus">
              
                <div class="container">
                        <div class="col-md-6 aboutus-left">
                                <img class="pull-right about-center-img"
                                        src="../../../../assets/images/about-center.png">
                        </div>
                        <div class="col-md-6 about-right">
                                <h3>Welcome to </h3>
                                <h4>Car Rental Mysore</h4>
                                <p style="margin-top: 20px;"> Car Rental Mysore is based in Mysore and our service details
                                         are provided as below.we provide return trip also along with one way if needed.We are the leading outdoor
                                        taxi service in Mysore by providing best service ar tha lowest fare.
                                        For any queries,you may contact our customer service.</p>
                                <p style="margin-top: 20px;">We are one of the best and trusted outstation journey for 
                                        a cost and safe journey in and around Bangalore,Mysore,Across Karanataka,Tamilnadu and kerala. </p>

                        </div>
                        <div class="why-choose-cabs">
                                <div class="col-md-6">
                                        <ul>       
                                                <li>     
                                                        <h2>Why Choose Car Rental Mysore</h2>
                                                        <div class="col-md-3">
                                                                <img src="../../../../assets/images/hand.png">
                                                        </div>
                                                        <div class="col-md-9">
                                                                <h5><b>One Way Fare</b></h5>
                                                                <p style="text-align: center;" >Other taxis charge two ways, usally citing the reason of returning
                                                                        empty but here we charge your one way trip at one way cost only
                                                                </p>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="col-md-3">
                                                                <img src="../../../../assets/images/team.png">
                                                        </div>
                                                        <div class="col-md-9">
                                                                <h5><b>Safe & Clean Cabs</b></h5>
                                                                <p>All the vehicle are checked regularly and manintained well. The drivers are well experienced,
                                                                        properly trained, neatly groomed and polite toward the customers.
                                                                </p>
                                                        </div>
                                                </li>
                                                <li>
                                                        <div class="col-md-3">
                                                                <img src="../../../../assets/images/24-hours.png">
                                                        </div>
                                                        <div class="col-md-9">
                                                                <h5><b>Always Available</b></h5>
                                                                <p>We offer 24x7 pickup up and drop facility in tamil nadu to facilitate the customer emergency needs.</p>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                
                </div>
               
        </div>
        <div class="footer">
            <app-footer></app-footer>
    </div>
            </div>
            </div>
