<div class="body">
  <div class="packaage-page">
    <div class="top-header">
      <app-header></app-header>
    </div>

    <div class="packagedetail">
      <div class="container">
        <h4>Iteration:</h4>

        <h4>Tour – 1 - Car Rental Packages - Mysore To Madikeri </h4>
        <button mat-button (click)="detailCLick($event)" class="package-btn-centre">DAY</button>
        <div class="bottom-list" >
            <div class="login-tabs">
                <mat-tab-group>
                    <mat-tab label="Day1">
                        <ul class="inclu-list">
                            <li>
                                <h4>Morning</h4>
                                <p> Start to journey Mysore to , Tibetan monastery </p>
                            </li>
                            <br>
                            <li>
                                <h4>Visit Place</h4>
                                <p>Tibetan golden temple,
                                  Kaveri nisargadhama forest park, Dubare Elephant camp and Boat River rafting, Abhi Falls, Talakaveri kaveri
                                  river birthplace, Bhagamandala triveni sangam and Sri Bhagandeshwara Temple, Raja seat sunset view point and
                                  musical fountain, Omkareshwara historical temple </p>
                            </li>
                            <br>
                            <li>
                              <h4>Drop</h4>
                              <p>Drop To Mysore City </p>
                          </li>
                        </ul>
                        
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
      
      <div class="table-searching-field">

          <div class="table-div">


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="car">
                <th mat-header-cell *matHeaderCellDef> Types Of Car </th>
                <td mat-cell *matCellDef="let element"> {{element.car}} </td>
              </ng-container>

              <ng-container matColumnDef="non">
                <th mat-header-cell *matHeaderCellDef> Non A/C </th>
                <td mat-cell *matCellDef="let element"> {{element.non}} </td>
              </ng-container>

              <ng-container matColumnDef="ac">
                <th mat-header-cell *matHeaderCellDef> A/C </th>
                <td mat-cell *matCellDef="let element"> {{element.ac}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>




          </div>

          <div class="Including-amt">
            <ul>
              <li>
                <h4>Including</h4> Driver Bata, Vehicle Charges, Sightseeing Charges, Fuel Charges.
              </li>
              <li>
                <h4>Excluding </h4>All Type food, Personal Nature like tips, Telephone, Sightseeing Places Entry Fees,
                Parking Charges, Toll Charges..
              </li>
              <li>
                <h4> Options</h4>
                Hotel booking- cab driver will take you to the tie-up hotel, Additional charges for hotel
              </li>
            </ul>
          </div>
          <div class="image-grid-day">
             <div class="days-bottom-img">
            <div class="col-md-4">
              <img src="../../../../assets/images/dayone1.jpg">
            </div>
            <div class="col-md-4">
              <img src="../../../../assets/images/dayone2.jpg">
            </div>
            <div class="col-md-4">
              <img src="../../../../assets/images/dayone3.png">
            </div>
          </div>
          </div>

        </div>

      </div>

    </div>
    <div class="footer" style="margin-top: 60px;">
      <app-footer></app-footer>
    </div>
  </div>
</div>